[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    width: 180px;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    padding: 8px 10px 11px;
    text-transform: capitalize;
    font-size: 14px;
}
