.message {
	margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.imageAndText {
	display: flex;
	align-items: flex-end;
	flex-direction: row-reverse;
}

.imageAndText img {
	width: 3rem;
	height: 3rem;
	border-radius: 50% ;
	object-fit: cover;
}

.text {

}

.text:after {

}

.name {

}

.messageText {

}

.time {

}