.sidebar {
	position: fixed;
	height: 100vh;
	width: 90%;
	max-width: 317px;
	background: #FFFFFF;
	left: 0;
	top: 0;
	transform: translateX(-100%);
	transition: transform .7s;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 16px 24px;
	gap: 60px;
}

.sidebar.open {
	transform: translateX(0);
}

.background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.3);
}

.nav {
	width: 100%;
	padding: 16px 0 16px 46px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 45px;

}

.nav a {
	font-size: 1.385rem;
	color: #000;
	text-decoration: none;
	font-weight: 600;
	transition: all .3s;
}

.nav a:hover {
	color: #58ACFF;
}

.nav a:active {
	color: #3D6B99;
}

.nav a.active {
	color: #0059b2;
	text-decoration: underline;
}
.close {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.3s;
}

.close:hover {
	opacity: 0.6;
}

.close img {
}
