.stand {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 370px;
    flex-grow: 1;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
