.spanBlock {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #0080FF;
	font-weight: 600;
}

.span {
}

.input {
	border: 1px solid #D1D1D1;
	padding: 8px 24px;
	border-radius: 5px;
	color: #000000;
	font-weight: 600;
}

.pen {
}