.friendMessage {
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 30px;
}

.friendImageAndText {
	display: flex;
	align-items: flex-end;
}

.friendImageAndText img {
	width: 3rem;
	height: 3rem;
	border-radius: 50% ;
	object-fit: cover;
}

.friendText {
	max-width: 530px;
	padding: 7px 13px;
	color: #000;
	background: #F5F7FB;
	border-radius: 15px 15px 15px 0;
	position: relative;
	margin-left: 20px;
	text-align: left;
	font-size: 1rem;
}

.friendText:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 10px solid #F5F7FB;
	position: absolute;
	bottom: 0;
	right: 100%;
}

.friendName {
	font-weight: 600;
	margin-bottom: 4px;
}

.friendMessageText {

}

.friendTime {
	font-family: Montserrat;
	font-size: 10px;
	font-weight: 600;
	line-height: 12.19px;
	text-align: left;

}
